node-red/controllerFlow.json
[
  {
    "id": "9824fd5fcd21e026",
    "type": "tab",
    "label": "Controller",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "7643141c9aec30a9",
    "type": "inject",
    "z": "9824fd5fcd21e026",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 440,
    "y": 280,
    "wires": [["0bb200619f1e3be8"]]
  },
  {
    "id": "662f59e69e20413e",
    "type": "ui_chart",
    "z": "9824fd5fcd21e026",
    "name": "",
    "group": "cbe22b77a30b5187",
    "order": 1,
    "width": 0,
    "height": 0,
    "label": "Voltage Timestamp",
    "chartType": "line",
    "legend": "false",
    "xformat": "mm:ss",
    "interpolate": "linear",
    "nodata": "",
    "dot": false,
    "ymin": "",
    "ymax": "",
    "removeOlder": "10",
    "removeOlderPoints": "100",
    "removeOlderUnit": "1",
    "cutout": 0,
    "useOneColor": false,
    "useUTC": false,
    "colors": [
      "#1f77b4",
      "#aec7e8",
      "#ff7f0e",
      "#2ca02c",
      "#98df8a",
      "#d62728",
      "#ff9896",
      "#9467bd",
      "#c5b0d5"
    ],
    "outputs": 1,
    "useDifferentColor": false,
    "className": "",
    "x": 1010,
    "y": 280,
    "wires": [[]]
  },
  {
    "id": "0bb200619f1e3be8",
    "type": "ui_slider",
    "z": "9824fd5fcd21e026",
    "name": "",
    "label": "Bulb 1",
    "tooltip": "",
    "group": "cbe22b77a30b5187",
    "order": 2,
    "width": 0,
    "height": 0,
    "passthru": true,
    "outs": "all",
    "topic": "topic",
    "topicType": "msg",
    "min": 0,
    "max": "220",
    "step": "1",
    "className": "",
    "x": 590,
    "y": 280,
    "wires": [["f42d66f96e2dbaae", "eb5946caea08b4a3"]]
  },
  {
    "id": "f42d66f96e2dbaae",
    "type": "ui_text",
    "z": "9824fd5fcd21e026",
    "group": "cbe22b77a30b5187",
    "order": 2,
    "width": 0,
    "height": 0,
    "name": "",
    "label": "Voltage",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "className": "",
    "style": false,
    "font": "",
    "fontSize": 16,
    "color": "#000000",
    "x": 780,
    "y": 340,
    "wires": []
  },
  {
    "id": "7696b37a51471f94",
    "type": "websocket out",
    "z": "9824fd5fcd21e026",
    "name": "SEND Bulb 1",
    "server": "",
    "client": "fe16996c86187dc9",
    "x": 1010,
    "y": 340,
    "wires": []
  },
  {
    "id": "eb5946caea08b4a3",
    "type": "trigger",
    "z": "9824fd5fcd21e026",
    "name": "",
    "op1": "",
    "op2": "0",
    "op1type": "pay",
    "op2type": "str",
    "duration": "-0.5",
    "extend": false,
    "overrideDelay": false,
    "units": "s",
    "reset": "",
    "bytopic": "all",
    "topic": "topic",
    "outputs": 1,
    "x": 770,
    "y": 280,
    "wires": [["662f59e69e20413e", "7696b37a51471f94"]]
  },
  {
    "id": "65d2c080781b36d5",
    "type": "debug",
    "z": "9824fd5fcd21e026",
    "name": "Debug Connection",
    "active": true,
    "tosidebar": true,
    "console": true,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 1220,
    "y": 120,
    "wires": []
  },
  {
    "id": "9732d6de22cb7aac",
    "type": "websocket in",
    "z": "9824fd5fcd21e026",
    "name": "",
    "server": "2f479fe5c02ca6fd",
    "client": "",
    "x": 910,
    "y": 140,
    "wires": [["65d2c080781b36d5"]]
  },
  {
    "id": "cbe22b77a30b5187",
    "type": "ui_group",
    "name": "SBMP Controller",
    "tab": "056fe5c00e87bfa7",
    "order": 1,
    "disp": false,
    "width": "14",
    "collapse": false,
    "className": ""
  },
  {
    "id": "fe16996c86187dc9",
    "type": "websocket-client",
    "path": "ws://127.0.0.1:8000",
    "tls": "",
    "wholemsg": "false",
    "hb": "0",
    "subprotocol": ""
  },
  {
    "id": "2f479fe5c02ca6fd",
    "type": "websocket-listener",
    "path": "ws://127.0.0.1:8000/",
    "wholemsg": "false"
  },
  {
    "id": "056fe5c00e87bfa7",
    "type": "ui_tab",
    "name": "Controller",
    "icon": "dashboard",
    "order": 1,
    "disabled": false,
    "hidden": false
  }
]
